{% extends "layout.html" %}

{% block conteudo %}
<h1>Casa do Código</h1>
<div id="mensagem_estacao"></div>

<div id="grid" hx-get="/estacoes" hx-trigger="submit from:form delay:50ms" hx-target="#grid" hx-select="#grid"
    hx-swap="outerHTML">
    {% for estacao in estacoes %}
    <div class="estacao">
        <h2>{{ estacao.nome }}</h2>

        {% if estacao.usuario_em_uso_id == None %}
        <p><strong>Status:</strong> <span style="color: green;">Disponível</span></p>
        <form hx-post="/utilizar" hx-target="#mensagem_estacao" hx-swap="innerHTML" hx-on::after-request="this.reset()">
            <input type="hidden" name="estacao_id" value="{{ estacao.id }}">
            <button type="submit">Começar a Usar</button>
        </form>

        {% elif estacao.usuario_em_uso_id == user.id %}
        <p><strong>Status:</strong> <span style="color: blue;">Você está usando esta estação</span></p>
        <form hx-post="/desocupar" hx-target="#mensagem_estacao" hx-swap="innerHTML"
            hx-on::after-request="this.reset()">
            <input type="hidden" name="estacao_id" value="{{ estacao.id }}">
            <button type="submit">Encerrar Uso</button>
        </form>

        {% else %}
        <p><strong>Status:</strong> <span style="color: red;">Ocupada por {{ nomes_usuarios[estacao.usuario_em_uso_id]
                }}</span>
        </p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}