<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escalonador de Estações</title>
    {% if user %}
    <p>Logado como: {{ user.nome }}</p>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    {% endif %}
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

<body>
    <main>
        {% block conteudo %}{% endblock %}
    </main>
</body>

</html>