{% extends "layout.html" %}

{% block conteudo %}
<p>Aqui você pode fazer as suas reservas para a semana que vem</p>
<br>
<h2>Criar reserva</h2>
<form hx-post="/reservas" hx-target="#mensagem" hx-swap="innerHTML">
    <select name="dia" required hx-get="/estacoes_disponiveis" hx-include="closest form"
        hx-target="#estacao_id_dropdown" hx-trigger="change">
        <option value="" selected disabled>Selecione o Dia</option>
        <option value="0">Segunda-feira</option>
        <option value="1">Terça-feira</option>
        <option value="2">Quarta-feira</option>
        <option value="3">Quinta-feira</option>
        <option value="4">Sexta-feira</option>
        <option value="5">Sábado</option>
    </select>
    <select name="horario" required hx-get="/estacoes_disponiveis" hx-include="closest form"
        hx-target="#estacao_id_dropdown" hx-trigger="change">
        <option value="" disabled selected>Selecione o Horário</option>
        <option value="8">08:00</option>
        <option value="9">09:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
    </select>
    <select name="estacao_id" id="estacao_id_dropdown" required>
        <option value="">Selecione dia e horário primeiro</option>
    </select>
    <button type="submit">Criar reserva</button>
</form>


<div id="lista" hx-get="/reservas" hx-trigger="atualizaReservas from:body" hx-target="#lista"
    hx-select="#lista" hx-swap="outerHTML">
    <h2>Minhas Reservas</h2>
    <ul>
        {% set nomes_dias = ['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado',
        'Domingo'] %}
        {% for reserva in reservas %}
        <li><strong>{{ reserva.id }}:</strong> Estação {{ reserva.estacao_id }} reservada para {{
            nomes_dias[reserva.dia] }} às {{ reserva.horario }}:00</li>
        {% else %}
        <li><em>Nenhuma reserva encontrada.</em></li>
        {% endfor %}
    </ul>

    <div id="paginacao">
        {% if pagina > 1 %}
        <button hx-get="/reservas?pagina={{ pagina - 1 }}" hx-target="#lista" hx-select="#lista" hx-swap="outerHTML">
            Anterior
        </button>
        {% endif %}

        <span>Página {{ pagina }}</span>

        {% if tem_proxima %}
        <button hx-get="/reservas?pagina={{ pagina + 1 }}" hx-target="#lista" hx-select="#lista" hx-swap="outerHTML">
            Próximo
        </button>
        {% endif %}
    </div>
</div>

<h2>Atualizar reserva</h2>
<form hx-put="/reservas" hx-target="#mensagem" hx-swap="innerHTML"
    hx-on::after-request="if(event.detail.elt === this) { this.reset(); }">
    <select name="id" id="select-atualizar" required hx-get="/reservas" hx-trigger="atualizaReservas from:body" hx-target="#select-atualizar" hx-select="#select-atualizar" hx-swap="outerHTML">
        <option value="" disabled selected>Escolha sua reserva</option>
        {% set nomes_dias = ['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'] %}
        {% for minres in minhas_reservas_todas %}
        <option value="{{ minres.id }}">ID {{ minres.id }} - Estação {{ minres.estacao_id }} ({{ nomes_dias[minres.dia] }} às {{
            minres.horario }}:00)</option>
        {% endfor %}
    </select>
    <select name="estacao_id" required>
        <option value="" disabled selected>Nova Estação</option>
        {% for est in estacoes %}
        <option value="{{ est.id }}">{{ est.nome }}</option>
        {% endfor %}
    </select>
    <select name="dia" required>
        <option value="" disabled selected>Selecione o Dia</option>
        <option value="0">Segunda-feira</option>
        <option value="1">Terça-feira</option>
        <option value="2">Quarta-feira</option>
        <option value="3">Quinta-feira</option>
        <option value="4">Sexta-feira</option>
        <option value="5">Sábado</option>
    </select>
    <select name="horario" required>
        <option value="" disabled selected>Horário</option>
        <option value="8">08:00</option>
        <option value="9">09:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
    </select>
    <button type="submit">Atualizar reserva</button>
</form>

<h2>Deletar reserva</h2>
<form hx-delete="/reservas" hx-target="#mensagem" hx-swap="innerHTML"
    hx-on::after-request="if(event.detail.elt === this) { this.reset(); }">
    <select name="id" id="select-deletar" required hx-get="/reservas" hx-trigger="atualizaReservas from:body" hx-target="#select-deletar" hx-select="#select-deletar" hx-swap="outerHTML">
        <option value="" disabled selected>Escolha sua reserva</option>
        {% set nomes_dias = ['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'] %}
        {% for minres in minhas_reservas_todas %}
        <option value="{{ minres.id }}">ID {{ minres.id }} - Estação {{ minres.estacao_id }} ({{ nomes_dias[minres.dia] }} às {{
            minres.horario }}:00)</option>
        {% endfor %}
    </select>
    <button type="submit">Deletar reserva</button>
</form>

<div id="mensagem"></div>
{% endblock %}