<header>
    <h1>Leila Maria Vasconcellos Figueiredo</h1>
    <p>
        <strong>Doutorado:</strong>
        <a href="http://www.math.rutgers.edu/">Department of Mathematics</a> -
        <a href="http://www.rutgers.edu/">Rutgers University</a>
    </p>
    <p>
        <strong>Vínculo:</strong>
        Docente do <a href="http://www.ime.usp.br/mat/home/">Departamento de Matemática</a> -
        <a href="http://www.ime.usp.br/">IME</a> - <a href="http://www.usp.br/">USP</a>
    </p>
</header>

<hr>

<main>
    <section>
        <h2>Disciplinas (Primeiro Semestre de 2021)</h2>
        <ul>
            <li><a href="http://www.ime.usp.br/~leila/2021MAT0164.htm">MAT0164 - Números Inteiros: Uma introdução à
                    Matemática</a></li>
        </ul>
    </section>

    <hr>

    <section>
        <h2>Disciplinas Antigas</h2>
        <div class="disciplinas-container">

            <div>
                <h3>2020</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/2020MAT0134.htm">MAT0134 - Introdução à Álgebra
                            Linear</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2020MAT0164.htm">MAT0164 - Números Inteiros: Uma
                            introdução à Matemática</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2020MAT0231.htm">MAT0231 - Álgebra II para
                            Licenciatura</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2019</h3>
                <ul>
                    <li><a href="https://www.ime.usp.br/mat/2456/">MAT2456 - Cálculo Diferencial e Integral
                            IV</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/20190236.htm">MAT0236 - Funções Diferenciáveis e
                            Séries</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/20190264.htm">MAT0264 - Anéis e Corpos</a> (1º
                        Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2018</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/20180134.htm">MAT0134 - Introdução à Álgebra
                            Linear</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2018MAT111.htm">MAT0111 - Cálculo Diferencial e
                            Integral I</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2018MAT112.htm">MAT0112 - Vetores e Geometria</a>
                        (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2017</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/2017MAT5730.htm">MAT5730 - Álgebra Linear</a> (2º
                        Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/20170164.htm">MAT0164 - Números Inteiros: Uma
                            introdução à Matemática</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/20170231.htm">MAT0231 - Álgebra II para
                            Licenciatura</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2016</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/20160121IAG.htm">MAT0121 - Cálculo Diferencial e
                            Integral II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/20160111IO.htm">MAT0111 - Cálculo Diferencial e
                            Integral I</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2016al2.htm">MAT0222- Álgebra Linear II</a> (1º
                        Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2015</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/mat/2454-2015">MAT2454 - Cálculo Diferencial e Integral
                            II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/mat/2453-2015">MAT2453 - Cálculo Diferencial e Integral
                            I</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2014</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/MAT0147.htm">MAT0147 - Cálculo Diferencial e
                            Integral II para Economia</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/mat/2453-2014">MAT2453 - Cálculo Diferencial e Integral
                            para Engenharia I</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2014AL.htm">MAT5730 - Álgebra Linear</a> (1º
                        Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2013</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/24542013.htm">MAT2454 - Cálculo Diferencial e
                            Integral para Engenharia II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2013MAT0222.htm">MAT0222 - Álgebra Linear II</a>
                        (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/mat/2453-2013/">MAT2453 - Cálculo Diferencial e Integral
                            para Engenharia I</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2012</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/mat2454-2012.htm">MAT2454 - Cálculo Diferencial e
                            Integral para Engenharia II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/mat/2453-2012/">MAT2453 - Cálculo Diferencial e Integral
                            para Engenharia I</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/mat0231.htm">MAT0231 - Álgebra II para
                            Licenciatura</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2011</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/mat2127.htm">MAT2127 - Cálculo Diferencial e
                            Integral para Química II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/mat2116.htm">MAT2116 - Álgebra Linear para
                            Química</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/al2011.htm">MAT5730 - Álgebra Linear</a> (1º
                        Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2010</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/mat/2454-2010/">MAT2454 - Cálculo Diferencial e Integral
                            para Engenharia II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/am.htm">MAT0501 e MAT5734 - Anéis e Módulos</a>
                        (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/20102453.htm">MAT2453 - Cálculo Diferencial e
                            Integral para Engenharia I</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2009</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/mat/2454">MAT2454 - Cálculo Diferencial e Integral para
                            Engenharia II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/mat5728">MAT5728 - Álgebra</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/2453.htm">MAT2453 - Cálculo Diferencial e Integral
                            para Engenharia I</a> (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2008</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/~leila/calculoii.htm">MAT2454 - Cálculo Diferencial e
                            Integral para Engenharia II</a> (2º Semestre)</li>
                    <li>MAT2457 - Álgebra Linear para Engenharia I (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/mat0313.htm">MAT0313 - Álgebra III</a> (1º
                        Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2007</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/mat/2454-2007">MAT2454 - Cálculo Diferencial e Integral
                            para Engenharia II</a> (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/mat/2453-07">MAT2453 - Cálculo Diferencial e Integral
                            para Engenharia I</a> (1º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/al2007.html">MAT5730 - Álgebra Linear</a> (1º
                        Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2006</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/mat/2454-2006">MAT2454 - Cálculo Diferencial e Integral
                            para Engenharia II</a> (2º Semestre)</li>
                    <li>MAT2453 - Cálculo Diferencial e Integral para Engenharia I (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2005</h3>
                <ul>
                    <li>MAT2458 - Álgebra Linear para Engenharia II (2º Semestre)</li>
                    <li><a href="http://www.ime.usp.br/~leila/al2.html">MAT0222 - Álgebra Linear II</a> (1º
                        Semestre)</li>
                    <li>MAT2457 - Álgebra Linear para Engenharia I (1º Semestre)</li>
                </ul>
            </div>

            <div>
                <h3>2004</h3>
                <ul>
                    <li><a href="http://www.ime.usp.br/mat/2454-04">MAT2454 - Cálculo Diferencial e Integral
                            para Engenharia II</a> (2º Semestre)</li>
                </ul>
            </div>

        </div>
        <div>
        </div>
    </section>
</main>

<hr>

<footer>
    <h3>Informações de Contato</h3>
    <ul>
        <li><strong>E-mail:</strong> leila@ime.usp.br</li>
        <li><strong>Sala:</strong> 105-A IME</li>
        <li><strong>Telefone:</strong> 3091-6186</li>
    </ul>
</footer>